@charset 'utf-8';
body {
  overflow-x: hidden;
}
#wrap {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}
#header {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
}
#header img {
  width: 110px;
}
#login-wrap {
  width: 1920px;
  height: 750px;
  background: url(../img/login-img/bgm.png);
  position: absolute;
  left: -340px;
}
#login-wrap #login {
  display: block;
  width: 368px;
  height: 475px;
  box-sizing: border-box;
  position: absolute;
  right: 420px;
  top: 110px;
  border: 1px solid #999999;
  padding: 35px 35px 10px;
  background: #ffffff;
  box-shadow: 2px 2px 10px #999999;
}
#tabs {
  width: 100%;
  height: 400px;
  margin-top: 35px;
}
#tabs > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
#tabs > ul > .actived {
  color: #000000;
}
#tabs > ul > li {
  font-size: 18px;
  color: #7f7f7f;
  cursor: pointer;
}
#tabs > ul > span {
  height: 14px;
  border-right: 1px solid #b3abab;
}
#tabs #denglu {
  margin-top: 35px;
  display: none;
}
#tabs #denglu > input {
  display: inline-block;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0 10px;
  font: 400 13.3333px Arial;
}
#tabs #denglu > .btn {
  color: #666666;
  opacity: 0;
}
#tabs #denglu > label {
  user-select: none;
  display: flex;
  align-items: center;
  color: #7f7f7f;
  margin-bottom: 25px;
}
#tabs #denglu > label:hover {
  color: #000000;
}
#tabs #denglu #remember {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#tabs #denglu > button {
  width: 100%;
  height: 46px;
  background: #387aff;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}
#tabs #denglu > p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
#tabs #denglu > p > a {
  color: #387aff;
}
#tabs #erweima {
  display: none;
}
#tabs #erweima > img {
  width: 300px;
  height: 300px;
}
#tabs #erweima > p {
  color: #999999;
  box-sizing: border-box;
  padding: 0 10px;
}
#tabs .show {
  display: block !important;
}
#foot {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}
#foot > #foot-line1 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
#foot > #foot-line1 > p {
  height: 100%;
}
#foot > #foot-line1 p:nth-child(1) {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
#foot > #foot-line1 p:nth-child(1) > a {
  color: #000000;
  font-size: 14px;
}
#foot > #foot-line1 p:nth-child(1) > span {
  display: inline-block;
  height: 14px;
  margin: 0px 10px;
  border-right: 1px solid #999999;
}
#foot > #foot-line1 p:nth-child(2) {
  margin-right: 140px;
  display: flex;
  align-items: center;
}
#foot > #foot-line1 p:nth-child(2) > span {
  font-size: 14px;
}
#foot > #foot-line1 p:nth-child(2) > a {
  font-size: 14px;
  color: #fff;
  background: #32a4e7;
  border-radius: 2px;
  margin-left: 20px;
}
#foot > #foot-line1 p:nth-child(3) {
  display: flex;
  align-items: center;
}
#foot > #foot-line1 p:nth-child(3) > i {
  width: 32px;
  height: 32px;
  border: 1px solid #A8A8A8;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  color: #A8A8A8;
  cursor: pointer;
  margin-right: 10px;
}
#foot > #foot-line1 p:nth-child(3) > i:nth-child(2) {
  position: relative;
}
#foot > #foot-line1 p:nth-child(3) > i:nth-child(2) > img {
  width: 120px;
  height: 120px;
  display: none;
  position: absolute;
  top: -140px;
  left: -40px;
}
#foot > #foot-line1 p:nth-child(3) > i:nth-child(2):hover img {
  display: block;
}
#foot > #foot-line1 p:nth-child(3) > i:nth-child(1):hover {
  color: red;
  border-color: red;
}
#foot > #foot-line1 p:nth-child(3) > i:nth-child(2):hover {
  color: green;
  border-color: green;
}
#foot > #foot-line1 p:nth-child(3) > i:nth-child(3):hover {
  color: yellow;
  border-color: yellow;
}
#foot > #foot-line2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  color: #7f7f7f;
  font-size: 12px;
}
#foot > #foot-line2 > span {
  margin-right: 5px;
}
#foot > #foot-line2 > a {
  color: #7f7f7f;
  margin-right: 5px;
}
#foot > #foot-line2 > i {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#foot > #foot-line2 > i > img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
